.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px;

  .navbar-left,
  .navbar-right {
    display: flex;
    align-items: center;

    a {
        margin: 0;
    }

    i {
        font-size: 1.5rem;
    }

  }

  .navbar-center {
    display: flex;
    justify-content: center;
    flex-grow: 1;

    a {
        padding: 10px;
        border-radius: 10px;
    }
  }

  a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
  }
}