.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px;

  .navbar-center {
    display: flex;
    justify-content: center;
    flex-grow: 1;

    a {
        padding: 10px;
        border-radius: 10px;
    }

    .lightened {
      color: #404040;
      background-color: #EDFEFF;
      transition: all 0.31s ease-in-out;
    }

    .lightened:hover {
      color: #EDFEFF;
      background-color: #404040;
      translate: -1.1px -1.2px;
      border: 1px solid #404040;
    }
  }

  a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
  }
}