{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }}
    Contact
{% endblock %}

{% block body %}
    <section class="container-fluid mt-4 small-height">
        <div class="card p-3 w-50 mx-auto" style="background-color: #999999;">
            <h1 class="text-center"><i class="bi bi-person-lines-fill"></i> Contact</h1>
            <div class="text-center">
                <p><i class="bi bi-envelope-at-fill"></i></i> Email : <a href="mailto:nathan.pauchon.pro@gmail.com" style="text-decoration: none; color: whitesmoke;">nathan.pauchon.pro@gmail.com</a></p>
                <p><i class="bi bi-discord"></i> Discord : <a href="#" style="text-decoration: none; color: whitesmoke;">Nashiro#0734</p></p>
            </div>
        </div>
    </section>
{% endblock %}