{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
    Home
{% endblock %}

{% block body %}
    <section class="first-section">
        <div class="title-banner">
            <h1>Portfolio</h1>
            <h3>by Nathan Pauchon</h3>
        </div>
        <div class="text-banner">
            <p>Découvrez les activitées effectuées et compétences que j'ai acquises lors des deux années de BTS SIO</p>
            <h3>Documents relatifs à l'évaluation :</h3>
            <div class="files-banner">
                <div class="file">
                    <a href="#">Grille E5</a>
                </div>
                <div class="file">
                    <a href="#">Grille E4</a>
                </div>
                <div class="file">
                    <a href="#">Autres docs...</a>
                </div>
            </div>
        </div>
        <div class="image-banner">
            <img src="/images/homeImage.png" alt="">
        </div>
    </section>
    <div class="separator"></div>
    <section class="second-section">
        <div class="container bridge">
            <div class="title-body">
                <h2>Ressources :</h2>
            </div>
            <div class="card-cloud">
                <div class="card">
                    <div class="title-card">
                        <h5>Lambda</h5>
                    </div>
                    <div class="preview-content">
                        <ul>
                            <li>xfafzerfzgz<rg1</li>
                            <li>x2ergergreg</li>
                            <li>gergx3</li>
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <div class="title-card">
                        <h5>Lambda widened plus</h5>
                    </div>
                    <div class="preview-content">
                        <ul>
                            <li>x1</li>
                            <li>x2</li>
                            <li>x3</li>
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <div class="title-card">
                        <h5>Lambda</h5>
                    </div>
                    <div class="preview-content">
                        <ul>
                            <li>x1</li>
                            <li>x2</li>
                            <li>x3</li>
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <div class="title-card">
                        <h5>Lambda more</h5>
                    </div>
                    <div class="preview-content">
                        <ul>
                            <li>x1</li>
                            <li>x2</li>
                            <li>x3</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
