{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
    Theme
{% endblock %}

{% block body %}
    <section>
        <div class="theme-title">
            <h1>Bloc 1 | Support</h1>
        </div>
        <div class="block-card">
            <div class="card-general">
                <div class="card-general-title">
                    <h5>Exemple acti</h5>
                </div>
                <div class="card-general-body">
                    <p>ceci est un exemple d'une partie de description...</p>
                </div>
            </div>
            <div class="card-general">
                <div class="card-general-title">
                    <h5>Exemple acti</h5>
                </div>
                <div class="card-general-body">
                    <p>ceci est un exemple d'une partie de description...</p>
                </div>
            </div>
            <div class="card-general">
                <div class="card-general-title">
                    <h5>Exemple acti</h5>
                </div>
                <div class="card-general-body">
                    <p>ceci est un exemple d'une partie de description...</p>
                </div>
            </div>
            <div class="card-general">
                <div class="card-general-title">
                    <h5>Exemple acti</h5>
                </div>
                <div class="card-general-body">
                    <p>ceci est un exemple d'une partie de description...</p>
                </div>
            </div>
            <div class="card-general">
                <div class="card-general-title">
                    <h5>Exemple acti</h5>
                </div>
                <div class="card-general-body">
                    <p>ceci est un exemple d'une partie de description...</p>
                </div>
            </div>
        </div>
    </section>
    
{% endblock %}