<nav class="navbar">
	<div class="navbar-left">
		<a href="#">
			<i class="fa fa-bars"></i>
		</a>
	</div>
	<div class="navbar-center">
		<a href="/">Home</a>
		<a href="/theme">Themes</a>
		<a href="#">Services</a>
		<a href="#">Contact</a>
	</div>
	<div class="navbar-right">
		<a href="#">
			<i class="fa fa-search"></i>
		</a>
	</div>
</nav>
