body {
    background-color: green;
}
section {
    margin: auto;
}
.first-section {
    background-color: blue;
}
.second-section {
    background-color: red;
    width: 70%;
}
.title-banner {

    width: 100%;
    height: 5rem;
    margin-top: 1.618em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1.5px solid whitesmoke;
    border-bottom: 1.5px solid whitesmoke;
    border-radius: 12px;

    h1 {
        color: black;
        font-size: 40px;
    }

    h3 {
        margin-left: 1.618em;
        color: green;
        font-size: 12px;
    }
}

.text-banner {
    display: grid;
    width: 35%;
    max-height: 25rem;
    margin: 5.618em;

    p {
        text-align: center;
        font-size: 20px;
        background-color: antiquewhite;
        color: black;
        border-radius: 10px;
        margin: 2em;
    }

    h3 {
        width: 250%;
        padding: 0.320em;
        margin-top: 1.6em;
        padding-left: 2.618em;
        font-size: 25px;
        background-color: rgb(197, 127, 255);
        border-bottom-right-radius: 20px;
        border-top-left-radius: 50px;
    }

    .files-banner {
        display: flex;
        width: 150%;
        margin: 0.618em;
        margin-left: 0.618em;
        gap: 5.781em;
        padding: 0.618em;
        border-top: 1.5px solid whitesmoke;
        border-bottom: 1.5px solid whitesmoke;
        border-radius: 5px;

        .file {
            transition: all 0.3s ease-in-out;
            padding: 0.318em;
            border-left: 2px solid black;
            border-right: 2px solid black;
            border-radius: 7px;
            background-color: greenyellow;
            color: black;
        }

        .file:hover {
            color: greenyellow;
            background-color: whitesmoke;
        }
    }
}

.image-banner {

    width: 45%;
    max-height: 25rem;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 12.5rem;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.753), rgba(128, 128, 128, 0.267) 58%),
    linear-gradient(125deg, rgba(22, 206, 68, 0.788), rgba(178, 226, 46, 0.295) 68%);
    border-radius: 30px;

    img {
        width: 100%;
        height: 100%;
        max-width: 40em;
        position: relative;
        top: 0;
        left: 5%;
    }
}

.separator {
    width: 100%;
    height: 2px;
    background-color: black;
}

.container {
    width: 100%;
    margin: 0;
}

.bridge {
    display: flex;
    border-radius: 15px;

    .title-body {
        width: 20%;
        height: fit-content;
        margin: 1.618em;
        display: flex;
        justify-content: center;
        align-items: center;

        h2 {
            border-bottom: 2px solid black;
        }
    }

    .card-cloud {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 1.418em;
        width: 100%;
        border-left: 1px solid black;

        .card {
            transition: all 0.6s ease-in-out;
            cursor: pointer;
            display: grid;
            justify-content: center;
            width: 30%;
            min-height: 105px;
            max-height: 105px;
            margin-bottom: 1.618em;
            border: 2px solid black;
            border-top-left-radius: 15px;
            border-bottom-right-radius: 15px;
            background-color: aqua;

            .title-card {
                background-color: beige;
                padding: 0 2.618em;
                border-bottom-left-radius: 25px;
                border-bottom-right-radius: 25px;

                h5 {
                    margin: 0.418em 0;
                }
            }

            .preview-content {
                width: 100%;
                overflow: hidden;

                ul {
                    margin: 10px 0;
                    list-style: square;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                }
            }
        }

        .card:hover {
            background-color: greenyellow;
            border-top-right-radius: 15px;
            border-bottom-left-radius: 15px;
            border-top-left-radius: 0;
            border-bottom-right-radius: 0;

            .title-card {
                background-color: aqua;
                height: 105px;
            }
        }
    }
}